body {
  text-align: center;
}
h3 {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-style: italic;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: red;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
form {
  width: 60rem;
  margin-left: 12rem;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
}
ul {
  display: flex;
  list-style-type: none;
  margin-top: 4rem;
}
li {
  margin-left: 3rem;
  text-align: none;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: hotpink;
}
/* unvisited link */
#email:link {
  color: black;
}
/* visited link */
#email:visited {
  color: black;
}

/* mouse over link */
#email:hover {
  color: rgb(196, 11, 11);
}

/* selected link */
#email:active {
  color: black;
}
